
Curso_ADS/.vscode

Curso_ADS/python
python/ex/astronomia.mp3
.vscode/settings.json
/Java/Aula02/nbproject/private/
/Java/Aula02/build/
/Java/Aula03/nbproject/private/
/Java/Aula03/build/
/Java/Aula04/nbproject/private/
/Java/Aula04/build/
/Java/Aula05/nbproject/private/
/Java/Aula05/build/
/Java/Aula09/nbproject/private/
/Java/Aula09/build/
/Java/calculadoraIdade/nbproject/private/
/Java/calculadoraIdade/build/
/Java/SuperCalculadora/nbproject/private/
/Java/SuperCalculadora/build/
/Java/OperadorTernario/nbproject/private/
/Java/OperadorTernario/build/
/Java/OperadoresLogicos/nbproject/private/
/Java/OperadoresLogicos/build/
/Java/VerificadorIdadeSwing/nbproject/private/
/Java/VerificadorIdadeSwing/build/
/Java/LeitorDePensamento/nbproject/private/
/Java/LeitorDePensamento/build/
/Java/ProgramaMedia/nbproject/private/
/Java/ProgramaMedia/build/
/Java/ProgramaIdade/nbproject/private/
/Java/ProgramaIdade/build/
/Java/ProgramaParImparSwing/nbproject/private/
/Java/ProgramaParImparSwing/build/
/Java/EquacaoSegundoGrau/nbproject/private/
/Java/EquacaoSegundoGrau/build/
/Java/ProgramaVotacaoSwing/nbproject/private/
/Java/ProgramaVotacaoSwing/build/
/Java/ProgramaPernas/nbproject/private/
/Java/ProgramaPernas/build/
/Java/ProgramaPernasSwing/nbproject/private/
/Java/ProgramaPernasSwing/build/
/Java/ProgramaForca/nbproject/private/
/Java/ProgramaForca/build/
/Java/Xp1Swing/nbproject/private/
/Java/Xp1Swing/build/
/Java/XP1/nbproject/private/
/Java/XP1/build/
/Java/teste/nbproject/private/
/Java/teste/build/